@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    &copy; Business-Model<br />
    <br />
    <abbr title="Phone">Phone</abbr>
    +977 9865623468
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ghimires2054@gmail.com">info@ghimires2054@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>